NEXT_PUBLIC_SITE_URL=https://abdulazizalsari.net
NEXT_PUBLIC_WHATSAPP_NUMBER=905413929436
NEXT_PUBLIC_SUPABASE_URL=https://pgsasqtrwtbeulxpgxmd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ltF0RIGz7TDJTB_gGgFXIQ_wJoMQ0N1
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=cms-media
